:root {
	--white: white;
	--black: #333;
	--gray: #777;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	color: var(--black);
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--white);
}

main {
	max-width: 42em;
	margin: 0 15px;
}

header,
footer {
	margin: 0 15px;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--blue);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	background: #eee;
	border-radius: 5px;
	border: 1px solid #aeaeae;
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	max-width: 100%;
	overflow: auto;
}

code {
	background: #eee;
	border-radius: 5px;
	border: 1px solid #DCDCDC;
	padding: 0 .3rem;
}

pre code {
	background: none;
	border-radius: none;
	border: 0;
	padding: 0;
}

nav ul {
	padding: 0;
	list-style-type: none;
}
ul {
	padding: 0 0 0 20px;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: block;
}

@media (min-width: 40em) {
	nav ul li {
		display: inline-block;
		margin: 0 .5em;
	}
}


header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

a[rel="external"] {
	font-weight: bold;
	text-transform: uppercase;
}

a[rel="external"]:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='blue' stroke-width='2' stroke-linecap='round' stroke-linejoin='bevel'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M18 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h5M15 3h6v6M10 14L20.2 3.8'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center right;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 20px;
	vertical-align: text-top;
	width: 25px;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

h1 small {
	color: var(--gray);
	font-size: 1rem;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
