<footer>
  <small>
    The site is maintained by <a href="https://danleatherman.com/">Dan Leatherman</a> for Parsons School of Design Creative Computing Course for reference and for assignments. Find the repo on <a href="{{ pkg.repository.url }}">Github</a>.
  </small>
</footer>